@font-face {
  font-family: "lato";
  src: url(../Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: "Futura-Round";
  src: url(../Futura-Round-Font/Futura\ Round\ Bold.ttf);
}
body {
  margin: 0%;
  padding: 0%;
  background-color: #f2f2f2;
}
header {
  border-bottom: 3px solid #2c3e50;
}
.logo,
.footer-logo {
  position: absolute;
  top: 5px;
  left: 30px;
  max-width: 70px;
  margin: 0px 30px;
  background-color: #b5d3cd;
  border-radius: 50%;
  padding: 7px;
}
.logo:hover,
.footer-logo:hover {
  background-color: #fc7353;
}
nav {
  text-align: center;
  margin: 30px 0px;
}
nav ul li {
  display: inline-block;
}
nav ul a {
  text-decoration: none;
  padding: 30px;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 600;
  color: #2c3e50;
}

nav ul li a:hover {
  color: #fc7353;
}

.carousel-container {
  max-width: 1280px;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}
.carousel {
  max-width: 100%;
  margin: 10px auto;
  display: flex;
  transform: translateX(0);
  transition: transform 0.25s;
  transition: 1s;
}
.slider-images {
  width: 33%;
  flex-shrink: 0;
  padding: 5px;
  z-index: 0;
}
.animal-img {
  width: 100%;
  padding: 0px 10px;
  z-index: 0;
}
.carousel-button {
  position: absolute;
  font-size: 50px;
  color: #fc7353;
}
.prev {
  left: 20px;
  top: 150px;
  z-index: 1;
}
.next {
  right: 10px;
  top: 150px;
  z-index: 1;
}
h1 {
  text-align: center;
}
/* latest posts */
.section-wrapper {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.latest-posts-container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
}
.latest-post {
  max-width: 700px;
  justify-self: center;
}
.latest-post p {
  max-width: 600px;
  margin: 0px auto;
  color: #2c3e50;
}
/* Posts by Countries */
.countries-container {
  max-width: 1200px;
  display: flex;
  margin: 10px auto;
}
.countries-post {
  max-width: 15%;
  padding: 0px 10px;
  border-radius: 30px;
}
.countries-animal-img {
  max-width: 100%;
  border-radius: 30px;
  border: 2px solid #fc7353;
}
footer {
  background-color: #2c3e50;
  padding: 40px 0px;
}
.footer-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 50px 0px 0px;
}
.footer-wrapper div {
  margin: 0px 30px;
}
.footer-logo {
  position: static;
}
footer ul {
  display: flex;
}
footer ul li {
  list-style: none;
  padding: 0px 10px;
}
footer li a,
a,
p,
i {
  text-decoration: none;
  color: #b5d3cd;
}
.sign-up,
.cta-sign-up {
  text-decoration: none;
  background-color: #2c3e50;
  border: 2px solid#fc7353;
  border-radius: 30px;
  padding: 10px 40px;
  margin: 0px;
  color: #b5d3cd;
}
.cta-sign-up {
  background: #b5d3cd;
  color: #2c3e50;
  padding: 13px;
  border: none;
  position: relative;
  right: 40px;
}
.copy-right {
  text-align: center;
  padding: 70px 0px;
}
